
///////////////////////////////////////
//////////// transition
@mixin transition($prop){
  transition: $prop;
  -moz-transition: $prop;
  -ms-transition: $prop;
  -o-transition: $prop;
  -webkit-transition: $prop;
}
//////////// animation
@mixin animation($prop){
  animation: $prop;
  -moz-animation: $prop;
  -o-animation: $prop;
  -webkit-animation: $prop;
}
///////// box shadow
@mixin box-shadow($prop){
  box-shadow: $prop;
  -moz-box-shadow: $prop;
  -o-box-shadow: $prop;
  -webkit-box-shadow: $prop;
}
//////// border-radius
@mixin border-radius($prop){
  border-radius: $prop;
  -moz-border-radius: $prop;
  -webkit-border-radius: $prop;
}
////// filter
@mixin filter($prop){
  filter: $prop;
  -ms-filter: $prop;
  -webkit-filter: $prop;
}
/////// display flex
@mixin flex($display,$dr,$js,$al){
  @if($display==f){
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    flex-direction:$dr ;
    -webkit-flex-direction: $dr;
    justify-content:$js;
    -webkit-justify-content: $js;
    align-items: $al;
    -webkit-align-items: $al;
  }@else if($display==f-i){
    display: flex !important;
    display: -moz-flex !important;
    display: -webkit-flex !important;
    display: -o-flex !important;
    display: -ms-flex !important;
    flex-direction:$dr  !important;
    -webkit-flex-direction: $dr !important;
    justify-content:$js !important;
    -webkit-justify-content: $js !important;
    align-items: $al !important;
    -webkit-align-items: $al !important;
  }
}
/////////// display flex
@mixin grid($display,$cl,$rw,$js,$al){
  @if($display==g){
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns:$cl ;
    grid-template-rows: $rw;
    justify-content:$js;
    -webkit-justify-content: $js;
    align-items: $al;
    -webkit-align-items: $al;
  }@else if($display==g-i){
    display: grid!important;
    display: -moz-grid!important;
    display: -ms-grid!important;
    grid-template-columns:$cl !important;
    grid-template-rows: $rw!important;
    justify-content:$js!important;
    -webkit-justify-content: $js!important;
    align-items: $al!important;
    -webkit-align-items: $al!important;
  }
}
////////// transform
@mixin transform($prop){
  transform: $prop;
  -ms-transform: $prop;
}
/////// text style
@mixin text-style($color,$font,$fontWeight){
  color: $color;
  font-size: $font;
  font-weight: $fontWeight;
}
/////// justify-align
@mixin ja($justify,$align){
  justify-content: $justify;
  -webkit-justify-content: $justify;
  align-items: $align;
  -webkit-align-items: $align;
}
/////////// media query
@mixin query($breakpoint){
  @if($breakpoint==sm){
    @media (max-width: 500px) {
      @content;
    }
  }@else if($breakpoint==md){
    @media (max-width: 768px) {
      @content;
    }
  }@else if($breakpoint==lg){
    @media (max-width: 960px) {
      @content;
    }
  }@else if($breakpoint==xlg){
    @media (max-width: 1200px) {
      @content;
    }
  }
}
/////////// key frames
@mixin keyFrame($name){
  @keyframes #{$name} {
    @content;
  }
  @-khtml-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
}
