@import "~bootstrap";
@import "./Utilities";
@import "./Variables";
@import "responsive";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
//////////////////////////////////////////
[x-cloak]{
  display: none!important;
}
.scroller{
  scrollbar-color: #aaa #f1f1f1;
  scrollbar-width:thin;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 6px;
  &:hover{
    background: #555;
  }
}


///////////////// main section
#container{
  &.active #main{
    margin-left: 0!important;
  }
}
#main{
  margin-left: 265px;
  background:$main;
  height: auto;
  position: relative;
  z-index: 99;
  @include transition(all 500ms ease-in-out);
  .notification ul{
    z-index: 99999;
    width: 180px;
    background: white;
    right: -85%;
    @include border-radius(8px);
    border: 1px solid #ccc;
  }
  .notification.user-info ul{
    right: 8%!important;
    width: 160px!important;
  }
}
.card{
  border:none!important;
  @include border-radius(8px);
  .card-header{
    padding: 1rem!important;
    background: #fff!important;
    border-bottom: none!important;
  }
}
#chartdiv{
  height: 500px;
}


///////////// sidebar
#sidebar{
  overflow-y: hidden;
  background: white;
  width: 265px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  @include transition( all 500ms ease-in-out);
  &:hover{
    overflow-y: auto;
  }
  .sidebar_item{

    ul{
      display: flex;
      position: absolute;
    }

    i{
      color: $icon;
    }
    &.active{
      background: $second;
      a,i{
        color: #fff!important;
      }
    }
    .submenu_item{
      @include transition(all 250ms ease-out);
      &:hover{
        @include transform(translateX(7px));
      }
    }
  }
}
