@import "Variables";
@import "Mixins";
//////////////////////////////////////////


@include query(xlg) { ////max-width: 1200px}


}






@include query(lg) { ////max-width: 960px
  #container{
    &.active #sidebar{
      transform: translateX(0);
      z-index: 999;
    }
    &.inactive #sidebar{
      transform: translateX(-265px);
      z-index: 9;
    }
  }
  #sidebar{
    transform: translateX(-265px);
    h6{
      font-size: 1.1rem !important;
    }
  }
   #main{
     margin-left: 0!important;
   }




}



@include query(md) { ////max-width: 768px


}





@include query(sm) { ////max-width: 500px
  .user_info *{
    font-size: 0.8rem!important;
  }

}